.page-header
  %h1 Messages

%table.table.table-striped.table-bordered
  %tr
    %th= t 'activerecord.attributes.message.sender'
    %th= t 'activerecord.attributes.message.title'
    %th= t 'activerecord.attributes.message.body'
    %th

  - @messages.each do |message|
    %tr
      %td= message.sender
      %td= message.title
      %td= message.body
      %td
        = link_to t(:show), message, class: 'btn btn-mini'
        = link_to t(:edit), edit_message_path(message),
          class: 'btn btn-mini'
        = link_to t(:destroy), message, 
          :confirm => t(:are_you_sure, default: "Are you sure?"), :method => :delete,
          class: 'btn btn-mini btn-danger'

%br

= link_to new_message_path, class: 'btn btn-success' do
  %i.icon-plus.icon-white
  = t(:new_message)

